@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: 'Lato', sans-serif;
}
/* You can add global styles to this file, and also import other style files */
.background {
    min-width: 100vw;
    min-height: 100vh;
    background: #232323;
    margin-top: -16px;
    margin-left: -8px;
    padding-bottom: 34px;
}

.right-buttons {
    display: flex;
    justify-content: flex-end;
}

.responsive-padding {
    padding-top: 34px;
}

.container > md-card { 
    background-color: white;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  color: white;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.clickable-tile :hover {
  cursor: pointer;
}

.primary-lightest-tile {
  background-color: #03a9f4;
  color: whitesmoke;
}

.primary-light-tile{
  background-color: #039be5;
  color: whitesmoke;
}

.primary-medium-tile {
  background-color: #0288d1;
  color: whitesmoke;
}

.primary-dark-tile {
  background-color: #0277bd;
  color: whitesmoke;
}

.primary-darkest-tile {
  background-color: #01579b;
  color: whitesmoke;
}

.secondary-lightest-tile {
  background-color: #ffeb3b;
  color: black;
}

.secondary-light-tile {
  background-color: #fdd835;
  color: black;
}

.secondary-medium-tile {
  background-color: #fbc02d;
  color: black;
}

.secondary-dark-tile {
  background-color: #f9a825;
  color: black;
}

.secondary-darkest-tile {
  background-color: #f57f17;
  color: black;
}

.title-tile {
  background-color: #181918;
}
