<div class="background responsive-padding">
  <div class="container">
    <md-card>
      <md-card-title>Outcome</md-card-title>
      <md-card-content>
        <p><strong>Question: </strong>{{question}}</p>
        <p><strong>Chosen Answer: </strong>{{chosenAnswer}}</p>
        <p><strong>Correct Answer: </strong>{{correctAnswer}}</p>
        <!--<p>People still to answer</p>-->
        <div class="right-buttons">
          <!--<button md-button (click)="testSummaryResponse()">Test summary</button>-->
          <button md-button (click)="nextQuestion()">Next Question</button>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>